# Python
__pycache__/
*.py[cod]

# Virtual environments
mybot_venv/
.venv/

models/
.python-version
# MacOS
.DS_Store

# Environment files
.env
env.env

# my rag data
rag/about_me.txt

# 忽略 vector_base 底下所有內容，但保留 .gitkeep 以保留資料夾
vector_base/*
!vector_base/.gitkeep

# 忽略 faiss_index 底下所有內容，但保留 .gitkeep 以保留資料夾
faiss_index/*
!faiss_index/.gitkeep

# 其他本地設定
.python-version
.vscode/

